.header {
    position: fixed;
    height: 100%;
    z-index: 9999;

    @media screen and (max-width: 1024px) {
           display: flex;
           align-items: flex-end;
    }
    

    @media screen and (max-width: 680px) {
        align-items: center;
 }


    .side-bar {
        margin-left: 10.5vw; 
        height: auto;
        padding-top: 7.6rem;
        z-index: 999;

        @media screen and (max-width: 1024px) {
           width: 100%;
           padding-top: 25vh !important;
           margin-left: 0;
   

           display: flex;
           justify-content: center;
        }

        @media screen and (max-width: 830px) {
            padding-top: 5vh !important;
        }


        @media screen and (max-width: 800px) {
            padding-top: 25vh !important;
         }

        @media screen and (max-width: 750px) {
            padding-top: 5vh !important;
        }

        @media screen and (max-width: 475px) {
            padding-top: 170px !important;
        }

        @media screen and (max-width: 325px) {
            padding-top: 150px !important;
        }


        &__item {
            margin-bottom: 4rem;
            list-style: none;


        @media screen and (max-width: 1024px) {
            width: 100%;
            display: flex;
            justify-content: center;
         }

         @media screen and (max-width: 830px) {
            margin-bottom:0px;
        }

        @media screen and (max-width: 800px) {
            margin-bottom:4rem;
        }


         @media screen and (max-width: 750px) {
            margin-bottom:0px;
        }

        @media screen and (max-width: 475px) {
            margin-bottom:5%;
        }

        }

        .nav-link :visited,
        .nav-link :link,
        .nav-link  {
            max-width: 25.4rem;
            list-style: none;
            text-decoration: none;
            font-weight: 500;
            font-size: 1.8rem;
            letter-spacing: 0px;
            color: #94A1B2;
            opacity: 1;

            @media screen and (max-width: 1024px) {
                font-size: 16px ;
                margin-bottom: 3rem;
            }

            @media screen and (max-width: 830px) {
                font-weight: bold;
                font-size: 12px ;
            }

            @media screen and (max-width: 800px) {
                font-weight: 500;
                font-size: 16px;
            }

            @media screen and (max-width: 750px) {
                font-weight: bold;
                font-size: 12px ;
            }

            @media screen and (max-width: 680px) {
                font-size: 9px ;
            }

            
            @media screen and (max-width: 475px) {
                font-weight: 500;
                font-size: 4rem;
            }

            &:hover {
                color: $color-white;
            }

        }
    }
}


